@model IEnumerable<MvcbkLending.Models.UserTable>

@{
    ViewData["title"] = "Report";
}
<link href="~/css/report.css" rel="stylesheet" />
<body class="body">
    <div class="content1">
        <div class="payment">
            <div class="title">
                <h2>USER REPORT</h2>
               @* <input type="date" />*@
                <a href="@Url.Action("Welcome", "User")" class="btn">Back</a>
            </div>
            <table id="TableId" >
                <tr>
                    <th>
                        BOOK REQUEST NO
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        CATEGORY
                    </th>
                    <th>
                        BOOK NAME
                    </th>
                    <th>
                        LENDED DATE
                    </th>
                    <th>
                        RETURN DATE
                    </th>
                    <th>
                        COST
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Bookreqno)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Catergory)</td>
                        <td>@Html.DisplayFor(modelItem => item.Bookname)</td>
                        <td>@Html.DisplayFor(modelItem => item.Lendeddate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Returndate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                        <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>

                    </tr>
                }
            </table>
        </div>
    </div>
</body>

@section Scripts{
<script type="text/javascript">
    @*$(document).ready(function () {
        $("#form").on("change", function () {
            $.ajax({
                type: "Get",
                url: "/User/Getreport",
                data: "json",
                success: function (response) {
                    for (i in response.data) {
                        console.log(response.data[i]);
                    }
                }
            })
        })
    })*@
 
</script>
}
